@page "/category"
@page "/category/{message}"
@page "/category/{success:bool}/{message}"
@using YumBlazor.Data.Entitys

@if (IsProcessing)
{
    <LoadingComponent />
}
else
{
    <div class="card shadow border-1 border-light mt-4 border-radius-15">
        <div class="card-header bg-primary bg-gradient m-lg-0 py-1 bg-opacity-75 text-center border-radius-15" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-white py-1">Category List</h2>
                </div>
            </div>
        </div>
        <div class="card-body py-4">
            <div class="row pb-3">
                <div class="col-12 text-end">
                    <a href="/category/create" class="btn btn-lg btn-secondary w-25"><i class="bi bi-plus-square"></i> Add a New Category</a>
                </div>
            </div>
            <div>
                <table class="table table-responsive table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Name</th>
                            <th colspan="2" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Categories != null && Categories.Count() > 0)
                        {
                            @foreach (var category in Categories.OrderBy(x => x.Id))
                            {
                                <tr>
                                    <td class="text-center">@category.Id</td>
                                    <td class="text-center">@category.Name</td>
                                    <td class="text-center"><a href="/category/update/@category.Id" class="btn btn-primary" title="Edit a @category.Name"><i class="bi bi-pencil-square"></i> Edit </a></td>
                                    <td class="text-center"><button type="button" class="btn btn-danger" title="Delete a @category.Name"><i class="bi bi-x-square"></i> Delete </button></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="text-center">No categories found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; } = null;
    [Parameter]
    public bool Success { get; set; }

    public bool IsProcessing { get; set; } = false;
    private IEnumerable<Category> Categories { get; set; } = null!;
    private ICategoryRepository Repository { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        IsProcessing = true;
        Repository = CategoryRepository;
        await JSRun.ToastrWarning("Load Page");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Categories = await Repository.GetAllAsync();
            IsProcessing = false;
            StateHasChanged();
            await JSRun.ToastrSuccess("Page Loaded Successfully");
        }
    }
}
