<div class="position-absolute w-75 h-75 flex-column align-items-center bg-white">
    <div class="spinner-border position-absolute flex-column align-items-center bg-white" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>